!!!
%html
  %head
    %script{src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'}
    %script{src: 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js'}
    %script{src: 'http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js'}
    %link{href: 'http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css', rel: 'stylesheet'}
    %link{href: 'style.css', rel: 'stylesheet'}
    %script{src: 'application.js'}
  %body
    %nav.navbar.navbar-default
      %ul.nav.navbar-nav
        %li.active
          %a{href: 'secondpage.php'} Something
        %li
          %a{href: '#'} Second page
        %li
          %a Third page 4
    .container
      #box1
        %table.table
          %tr
            %th Event
            %th Active
      #box2
        %h2 Box 2
      #box3
        %h2 Box 3
        %button Change text
        #area
          This is the area what we watch...
      #box4
        %button.btn
        %p Something

    .container
      #log.modal.show