h1 Emblem JS test 1
#ember-application-root

/! <script type="text/x-handlebars">
/! <ul>
/! <li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
/! <li>{{#link-to 'about'}}About{{/link-to}}</li>
/! </ul>
/! {{outlet}}
/! </script>
/! <script type="text/x-emblem" id="application">
/! ul
/! li = linkTo 'posts' | Posts
/! li = linkTo 'about' | About
/! =outlet
/! </script>
/script#about type="text/x-emblem"
/  | h1 This is About page
/script#posts type="text/x-emblem"
/  | table
/  | thead
/  | tr
/  | th Recent Posts
/  | each
/  | tr
/  | td
/  | \= link-to 'post' this
/  | \= title
/  | small by \#{author.name}
/  | \= outlet
/script#post type="text/x-handlebars"
/  | {{#if isEditing}}
/  | {{partial 'post/edit'}}
/  | <button {{action 'doneEditing'}}>Done
/  | {{else}}
/  | <button {{action 'edit'}}>Edit
/  | {{/if}}
/  | h1 { title}
/  | hr
/    | p { excerpt}
/script id="post/edit" type="text/x-handlebars"
/  | p { input type="text" value=(title)
/  | p { input type="text" value=(excerpt})
/  | p { textarea value=(body})
