<div data-role="page" data-theme="a">
  <div data-role="header">
    <h1>Cafe Vienna</h1>
  </div>

  <div data-role="content">

    <a href="#" data-role='button' data-rel="dialog">Open dialog</a>


  </div>

  <div data-role="content" data-theme="a" data-theme="a">

    <ul id='categories' data-role="listview" data-inset="true" data-filter="true" data-theme="a">

    </ul>

    <form>
      <label for="slider-0">Input slider:</label>
      <input type="range" name="slider" id="slider-0" value="25" min="0" max="100" />
    </form>

    <a href="#second" data-role="button" data-icon="star">Star button</a>
  </div>


  <div data-role="footer">
    <h4>Footer</h4>
  </div>
</div>

<div id='second' data-role="page">
  <div data-role="header">
    <h1>Second Page</h1>
  </div>

  <div data-role="content">
    <p>Hello world</p>
    <a href="#" data-rel="dialog">Open dialog</a>
  </div>

  <div data-role="footer">
    <p>Footer</p>
  </div>
</div>

<script id="category_list" type="text/x-handlebars-template">
  <div id="category_{{id}}" data-role="page">
    <h1>Hello from template</h1>
  </div>
</script>