<h1>Bacbone test in Rails</h1>
<ol>
  <li><%=link_to "Task list manager in Backoffice namespace", backoffice_tasks_path %></li>
  <li><%=link_to "Customer list manager", customers_path %></li>

</ol>
