<form action="">
    <div class="form-group"><label for="">Title</label>{{input class="form-control" type="text" value=title}}</div>
    <div class="form-group"><label for="">Excerpt</label>{{input class="form-control" type="text" value=excerpt}}</div>
    <div class="form-group"><label for="">Body text</label>{{textarea class="form-control" type="text" value=body}}</div>
</form>